
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<!-- index 의 제이쿼리 스크립트 추가 ::: static 을 재외한 경로를 작성한다-->
<!-- src/main/resource/static/js/,,, : js 파일 -->
<!-- src/main/resource/static/css/,,, : css 파일 -->
<!-- src/main/resource/static/image/,,, : image 파일 -->
<script src="/js/app/index.js"></script>
</body>
</html>